/* HeaderTop.module.css */
.affixTop {
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--header-border);
    z-index: 100;
    width: 100%;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: none;
}

@media (max-width: 640px) {
  .affixTop {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}